<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Portfolio de Yohann Hommet, développeur backend PHP / Symfony Junior.">
    <title>{% block title 'Portfolio de Yohann' %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body>

{{ include('_partials.html.twig/_navbar.html.twig') }}

{{ include('_partials.html.twig/_flash_messages.html.twig') }}

<main role="main" class="container-xl my-lg-4 my-md-3 my-sm-3">
    {% block body %}
    {% endblock %}
</main>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
