<footer role="doc-footnote" class="container-fluid bg-dark py-5 position-absolute top-100 start-50 translate-middle" style="margin-top: 150px">
    <div class="container-xl">

        <div class="row">
            <div class="col-6 mx-auto">

                <ul id="social" class="">
                    <li>
                        <a href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="far fa-envelope"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>


        <div class="text-white-50 text-center mt-5">
            <small>
                Build with <span class="text-danger">&hearts;</span> by Yohann Hommet
                <span class="text-info fs-6">-</span> &copy; 2021
            </small>
        </div>

    </div>
</footer>