
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #F85D9B;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$cyan2: #3A9FCB;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: $indigo;
$secondary: $gray-500;
$success: $teal;
$info: $cyan;
$warning: $yellow;
$danger: $pink;
$light: #f8f9fa;
$dark: #0F1343;

.container-xl {
  width: 1500px;
}

nav#navbar {
  box-shadow: 0 10px 10px -15px rgba(0,0,0,0.5);
}

section#home {
  height: 500px;
  background: url("../../public/assets/images/purple-web-development.jpg");
  background-size: cover;
}